@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?91521260');
  src: url('../font/fontello.eot?91521260#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?91521260') format('woff2'),
       url('../font/fontello.woff?91521260') format('woff'),
       url('../font/fontello.ttf?91521260') format('truetype'),
       url('../font/fontello.svg?91521260#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
