/**
 * Stylesheet for Lastminute parking widget exercise
 * Author: alessandro.balza@gmail.com
 *
 */


/*Block widget*/
.parking {

    width:100%;
    float:left;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(179,179,179,1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(179,179,179,1);
    box-shadow: 0px 0px 10px 3px rgba(179,179,179,0.5);
    padding:15px;
    
}

/*Element header widget*/
    .parking__header {

        font-size:15px;
        font-weight:300;
        margin:0 0 20px;
        padding: 70px 0 0;
        background: url(../img/vendor_logo.png) no-repeat top center;
        background-size: auto 60px;
        text-align: center;
        
    }

/*Element vendor area widget*/
    .parking__vendor {

        margin:0 0 15px;
        padding:0 0 15px;
        width:100%;
        float:left;
        border-bottom:1px solid #ccc;

    }

        .j__hidden {

            display:none;

        }

        .parking__labelservices {

            margin: 0 0 10px;

        }

        .parking__map {

            float:left;
            width:100%;
            margin:0 0 15px;

        }

            .parking__map img {

                width: 100%;

            }


        .parking__services {

            clear: both;
            margin:0;
            padding:0;

        }

            .parking__services li {

                list-style-type:none;
                padding-left: 20px;
                position: relative;
                margin-bottom: 10px;

            }

                .parking__services li:before {

                    content: '\e800';
                    font-family: "fontello";
                    position: absolute;
                    left: 0;
                    top: 0;
                    color: #8b0;

                }

/*Element vendor toggler*/
    .parking__vendoropener {
        
        text-align: right;
        margin:0 0 15px

    }
        .parking__vendoropener a {

            color: #fa4b16;
            cursor: pointer;
            text-decoration: none;

        }

        .parking__vendoropener a:hover {

            text-decoration: underline;

        }

        .parking__show {

            display:none;

        }

        .parking__hide {

            display:inline;

        }

        .j__shower .parking__hide{

            display:none;

        }

        .j__shower .parking__show{

            display:inline;

        }

/*Element list parking slot*/
    .parking__slots {
        
        float:left;
        width: 100%;
        margin:10px 0;
        
    }

        .parking__slot {

            float:left;
            width: 100%;
            box-sizing: border-box;
            margin:0 0 10px;
            padding:0;
            position:relative;

        }

            .parking__slot input {

                position:absolute;
                display: none;

            }

            .parking__slot label {

                padding:5px 5px 5px 30px;
                cursor:pointer;
                display:block;
            }

            .parking__slot label:hover {

                background: #f0f0f0;

            }

            .parking__slot input:checked +  label {

                background: #f0f0f0;
            }

            .parking__check {

                border-radius:2px;
                width: 16px;
                height: 16px;
                border: 1px solid #8b0;
                display: inline-block;
                position: absolute;
                left: 6px;
                top: 6px;
            }

            .parking__slot input:checked +  label > .parking__check {

                background: #8b0;
            }

            .parking__slot input:checked +  label > .parking__check:before {

                content: '\e800';
                font-family: "fontello";
                position: absolute;
                left: 1px;
                top: 0;
                color: #fff;
            }

            .parking__slot p {

                margin:0 0 5px;
                padding:0;

            }

            .parking__slotname {

                font-size:15px;
                font-weight:600;

            }

            .parking__price {

                font-size:12px;
                font-weight:600;

            }

            .parking_info {

                font-size:12px;
                
            }


        .parking__slots button {

            display:none;

        }

/* media query for large device*/
@media screen and (min-width: 768px) {
    
    .parking__header {

        margin:0;
        padding: 10px 0 20px;
        background-size: contain;
        background-position: right center;
        text-align: left;

    }
    
    .parking__map {

        width:370px;
        margin:0 15px 0 0;

    }
    
    .parking__services {

        margin-left:385px;
        clear: none;

    }
    
    .parking__slot {

        width: 50%;

    }

    .parking__slot label {

       margin:0 10px 0 0;

    }
    
}
