/**
 * Stylesheet for Lastminute page container
 *
 */


/*
*
*Import fontello for icon
*
*/

@import 'fontello.css';



body {
    
    font-family: helvetica,arial,sans-serif;
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    height: 100%;
    color:#555;
}

.page {
    
    max-width:1360px;
    margin:0 auto;
    padding:25px;
    
}

.cart {

    width:100%;
    float:left;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(179,179,179,1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(179,179,179,1);
    box-shadow: 0px 0px 10px 3px rgba(179,179,179,0.5);
    padding:15px;
    margin:0 0 20px;

}

.cart h1 {

    font-size:16px;

}



